$primary: #18beff;
$primaryDark: #062531;
$secondary: #5340ff;
$secondaryDark: #161146;
$tertiary: #E0E0E0;
$quaternary: #CE93D8;

$inputPrimary: #b793d881;

$penumbra: #505050;
$twilight: #303030;
$dark: #151515;

$pulseAnimation: pulse 1.5s linear infinite;
